@model List<MyBlog.Models.Region>

@{
    ViewBag.Title = "Regions";
}

<br />
<br />
<div class="container">
    <a href="/Regions/Create" class="btn btn-success">Add Region</a>
</div>
<br />
<br />
<div class="row">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Points Of Interest</th>
                <th scope="col">External link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var region in Model)
            {
                <tr>
                    <th scope="row">@region.Id</th>
                    <td>@region.Name</td>
                    <td>@region.Location</td>
                    <td>@region.PointsOfInterest</td>
                    <td><a href="@region.ExternalLink" class="btn btn-warning" target="_blank">More Info...</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>